<div class="container">
    <ul class="nav nav-tabs nav-fill">
    <li class="nav-item" *ngFor="let category of categories; let i = index">
        <a class="nav-link" [class.active]="i === page" routerLink="/navigator" [queryParams]="{page:i}" (click)="setPageNumber(i)">{{category.name}}</a>
    </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.name.first}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>
